{% extends 'base.html' %}
{% block title %}
  Страница пользователя {{ author.get_full_name }}
{% endblock %}
{% block content %}
<style>
  h1 {
    margin: 0;
    padding: 0;
    position: absolute;
    left: 50%;
    top: 11%;
    transform: translate(-50%, -50%);
    font-family: 'Roboto Slab', serif;
    text-transform: uppercase;
    color: DarkSlateGrey;
    font-size: 44px;
  }

  h1:before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: bottom;
    transform: rotateX(180deg);
    line-height: 1em;
    background: linear-gradient(0deg, DarkSlateGray 0, rgba(255, 255, 255, 0) 80%);
    -webkit-background-clip: text;
    color: rgba(0, 0, 0, 0);
    opacity: 0.8;
  }
</style>
  <div class="container py-5">
    <div class="mb-5">
      <h1 data-text="{{ author.get_full_name }}">{{ author.get_full_name }}</h1>
      <h3>Количество публикаций: {{ author.posts.count }}</h3>
        {% if user != author %}
          {% if following %}
            <a
              class="btn btn-lg btn-secondary"
              href="{% url 'posts:profile_unfollow' author.username %}" role="button"
              >
              Отписаться
            </a>
          {% else %}
            <a
              class="btn btn-lg btn-dark"
                href="{% url 'posts:profile_follow' author.username %}" role="button"
                >
                Подписаться
            </a>
          {% endif %}
        {% endif %}
      {% for post in page_obj %}
       {% include 'includes/single_post.html' with show_author_link=False show_group_link=True %}
      {% endfor %}
      {% include 'includes/paginator.html' %}
    </div>
  </div>
{% endblock %}
